.caroItem{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    display: inline-block;
    color: white;
    position: absolute;
    font-weight: bolder;
    font-size: 30px;
}

@media (max-width: 575.98px) {
    .caroItem{
        width: 230px;
    }
}