.content{
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

.content span{
    color: var(--customGrey);
}

.profile{
    border-left: 1px solid var(--customGrey);
    height: 200px;
}

.profile img{
    width: 110px;
    height: 110px;
}

.textarea{
    width: 100%;
    height: 170px;
    border-radius: 5px;
    border: 1px solid var(--customGrey);
    resize: none;
    margin-bottom: 20px;
}

.searchOrder{
    width: 25%;
}

.searchOrder input{
    height: 36px;
    border-radius: 23px;
    border-left: none;
}

.searchOrder span{
    border-radius: 23px;
    background-color: white;
}

.tableControl{
    width: 25%;
}

.TableContent{
    width: 100%;
}

@media (max-width: 575.98px) { 
    .searchOrder{
        width: 100%;
    }

    .InputTableControl{
        width: 300px;
    }

    .TableContent{
        font-size: 10px;
    }
}

