.content{
    background-color: white;
    height: 550px;
    border-radius: 5px;
    width: 100%;
}

.profile{
    border-left: 1px solid var(--customGrey);
    height: 200px;
}

.profile img{
    width: 110px;
    height: 110px;
}

.modalWrapper{
    border:4px dashed var(--customGrey);
    border-radius: 5px;
    color: var(--customGrey);
}

.oldAddress{
    border:1px solid red;
    border-radius: 5px;
}

.changeAddr{
    color: red;
}

.tableControl{
    width: 90%;
}

.avatar{
    width: 100%;
    height: 100%;
    size: cover;
    object-fit: cover;
}

.avatarWrapper{
    width: 100px;
    height: 100px;
}

@media (min-width: 768px) {
    .tableControl{
        width: 50%;
    }
}

@media (min-width: 992px) {
    .tableControl{
        width: 25%;
    }
}