h3, .price, .color, .quantity, .size{
    color: black;
}

.btnBuy{
    background-color: var(--primary);
    color: white;
    border: none;
}

.btnBuy:hover{
    background-color: var(--primaryHover);
}